#Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files that should always be normalized and
# converted to native line endings on checkout.
*.java text
*.js text
*.md text
*.scala text
*.sql text
*.coffee text
*.less text
*.json text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jar binary
*.gliffy binary
